<ul class="meses">
	<% meses.each_pair.with_index do |(mes_nome, mes), mes_i| %>
  <li class="mes <%= class_lucro mes.diff %>">
		<h3><%= mes_nome %></h3>
    <% unless mes.debitos_pendentes.empty? %>
      <div class="dividas">
        <h4>Dívidas</h4>
        <ul>
          <% mes.debitos_pendentes.each do |nome, debito| %>
            <li class="divida">
              <ul>
                <li class="nome"><%= nome %></li>
                <li class="valor"><%= dinheiro debito %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
		<ul class="subdivisoes">
      <li class="subdivisao">
				<%= partial :subdivisao_resto, :locals => {
					atual: mes,
					anterior: mes_i.zero? ? nil : meses.values[mes_i-1]
				} %>
			</li>
			<% mes.financeiro.subdivisoes.each do |nome, subdivisao| %>
				<% if nome != :resto %>
					<li class="subdivisao">
						<%= partial :subdivisao, :locals => {
							nome: nome,
							valor: subdivisao.valor,
							credito: mes.total_credito(nome),
							debito: mes.total_debito(nome)
						} %>
					</li>
			  <% end %>
			<% end %>
		</ul>
		<% end %>
	</li>
</ul>
