<ul class="subdivisao <%= class_lucro(credito - debito) %>">
	<li class="nome"><%= nome %></li>
	<li class="valor"><%= dinheiro valor %></li>
	<li class="credito"><%= dinheiro credito %></li>
	<li class="debito"><%= dinheiro debito %></li>
</ul>
